__pycache__/
*.pyc
/venv/
.env
/gopro-automation-frontend
tmpclaude*
/frontend
.hide


uball-gopro-fleet-firebase-adminsdk.json
id_rsa

# Alert dedup state written by scripts/monitor/monitor_jetsons.py
.monitor-alert-state.json
